/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ------------ Custom CSS Starts Here  --------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */




body {
    background-color: #fff;
    font-family: 'Open Sans', serif;
}

nav {
    background-color: #55A3FF;
    padding: 20px 20px 0px 20px ;
}


#intro {
    text-align: center;
    margin-top: 30px;
}


#intro h1 {
    margin: 20px 20px -10px 20px !important;
    font-size: 3.2em;
}

#intro p {
    margin: 30px auto 50px;
    padding: 0 0 0 50px;
    text-align: left;
    width: 60%;
    font-size: 1.6em;
    line-height: 28px;
}

#start-btn {
    text-align: center;
    margin: 50px auto;
}

.start-button {
  position: relative;
  vertical-align: top;
  width: 18%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #FFD119;
  border: 0;
  border-bottom: 2px solid #e2b607;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -3px #e2b607;
  outline-style: none;
  border-radius: 5px;
}

.start-button:hover {
  background-color: #f1c40f;

}

.start-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#upload-slice {
    background-color: #55A3FF;
    color: #fff;
    padding: 50px 100px;
    font-size:
}


