<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Shirts.io</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    </head>

    <body>
        <nav>
            <img width="10%" src="{% static '/static/img/logo-square.png' %}"><br /><br />
        </nav>

        <div id="intro">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Praesent semper at tellus eu suscipit. Nam est nisl, eleifend nec laoreet in, bibendum at neque. Donec tincidunt libero felis, mattis.</p>
            <img width="60%" src="{% static '/static/img/summary.png' %}">
        </div>

    </body>
</html>
