<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Shirts.io</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </head>

    <body>
        <nav>
            <img width="10%" src="{% static '/static/img/logo-square-w.png' %}"><br /><br />
        </nav>

        <div id="intro">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Praesent semper at tellus eu suscipit. Nam est nisl, eleifend nec laoreet in, bibendum at neque. Donec tincidunt libero felis, mattis.</p>
            <img width="60%" src="{% static '/static/img/summary.png' %}">
        </div>

        <div id="start-btn">
            <a href="#working-tabs"><input type="submit" value="Start" class="start-button"></a>
        </div>


<!-- ////////////////////////////////////////////// -->
<!-- ////////////////                ////////////// -->
<!-- ///////////////  input section /////////////// -->
<!-- //////////////                //////////////// -->
<!-- ////////////////////////////////////////////// -->


        <div id="working-tabs">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Step 1: Upload</a></li>
                    <li><a href="#tab2">Step 2: Cut</a></li>
                    <li><a href="#tab3">Step 3: Select</a></li>
                    <li><a href="#tab4">Step 4: Print</a></li>
                </ul>

            <div class="tab-content">

                <div id="tab1" class="tab active">
                    <form id="upload-form" action="#">
                        <h1 id="instruction">Please choose the image you would like to cut :<br><br>
                            <input type="file" name="datafile">
                        </h1>
                        <div>
                            <input id="upload-btn" type="submit" value="Upload">
                        </div>
                    </form><!--upload-form -->
                </div>

                <div id="tab2" class="tab">
                    <form id="set-number" action="#">
                        <h1 id="instruction">Please enter the desire number of tiles you would like to have :<br><br>
                        </h1>
                        <input id="tile-number-input" type="text" name="tile-number"><br>
                        <div>
                            <input id="set-number-btn" type="submit" value="Next">
                        </div>
                    </form><!--set-number-form -->
                </div>

                <div id="tab3" class="tab">
                    <form id="tile-select-form" action="#">
                        <h1 id="instruction">Please select the tile(s) you would like to use :</h1><br><br>
                        <div>
                            <input id="tile-select-btn" type="submit" value="Next">
                        </div>
                    </form><!--tile-select-form -->
                </div>

                <div id="tab4" class="tab">
                    <form id="print-review-form" action="#">
                        <h1 id="instruction">Review your selection :</h1><br><br></h1>
                            <div>
                                <input id="submit-print-btn" type="submit" value="Submit">
                            <div>
                    </form><!--upload-form -->
                </div>

            </div><!-- /.tab-content -->
        </div><!-- /.tabs -->
    </div><!-- /#working tabs -->


    </body>
</html>
