<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Shirts.io</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </head>

    <body>
        <nav>
            <img width="10%" src="{% static '/static/img/logo-square-w.png' %}"><br /><br />
        </nav>

        <div id="intro">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Praesent semper at tellus eu suscipit. Nam est nisl, eleifend nec laoreet in, bibendum at neque. Donec tincidunt libero felis, mattis.</p>
            <img width="60%" src="{% static '/static/img/summary.png' %}">
        </div>

        <div id="start-btn">
            <a href="#working-tabs"><input type="submit" value="Start" class="start-button"></a>
        </div>


<!-- ////////////////////////////////////////////// -->
<!-- ////////////////                ////////////// -->
<!-- ///////////////  input section /////////////// -->
<!-- //////////////                //////////////// -->
<!-- ////////////////////////////////////////////// -->


        <div id="working-tabs">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Upload</a></li>
                    <li><a href="#tab2">Cut</a></li>
                    <li><a href="#tab3">Print</a></li>
                </ul>

            <div class="tab-content">

                <div id="tab1" class="tab active">
                    <p>Tab #1 content goes here!</p>
                        <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
                </div>

                <div id="tab2" class="tab">
                    <p>Tab #2 content goes here!</p>
                    <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
                </div>

                <div id="tab3" class="tab">
                    <p>Tab #3 content goes here!</p>
                    <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
                </div>

            </div><!-- /.tab-content -->
        </div><!-- /.tabs -->
    </div><!-- /#working tabs -->


    </body>
</html>
